@import '../../vars';

.section-register {
  font-family: $roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .register-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 20rem;
    padding: 2rem;
    border-radius: 1rem;
    background: $white-base;

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 11rem;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        input {
          padding: 0.5rem;
          border-radius: 0.5rem;
          height: 2rem;
          border: 1px solid $grey-base;
        }

        a {
          text-decoration: none;
        }

        input[type='submit'] {
          border: none;
          background: #fb8817;
          color: white;
          display: flex;
          align-items: center;
          align-content: center;
          flex-direction: row;
          justify-content: center;
          height: 3rem;
          width: 100%;
        }
      }
    }
  }
}
