@import '../../vars';

.filter {
  background: $white-base;
  padding: 1rem;
  .container {
    padding: 1rem;
    border-radius: 1rem;
    background: $white-two;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    font-family: $roboto;

    h2 {
      color: $grey-three;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
      li {
        a {
          font-weight: 500;
          text-decoration: none;
          color: $grey-three;

          &:hover {
            color: $orange;
          }
        }
        .filter-on-fire {
          color: $orange;
          &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 24px;
            right: -4px;
            top: calc(50% - 12px);
            background-color: #cac6c8;
            // transition: background-color 0.25s ease-out;
          }
        }
      }
    }
  }
}
