$white-base: #fff;
$white-two: #fbfafa;
$white-three: #f4f2f2;

$grey-base: #8f949b;
$grey-two: #5a5d62;
$grey-three: #35373b;
$grey-four: #1d1f20;

$black-base: #000;

$orange: #fb8817;
$orange-hover: #ff9b00;
$orange-two: #ff4b01;
$red: #c12127;
$pink: #e02aff;

/*
--background-default: #ff7900;
    --background-hover: #ff9300;
    --background-active: #e56e00;
    --shadow-default: #ff7900;
    --shadow-hover: #ff9300;
*/

$workSans: 'Work Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
